extends layout

block content
  .container
    .row
      table.table.table-hover.table-bordered.table-sm
        thead
          tr
            th SiteID
            th Name
            th GPS
            th NB-LEDs
            th AirBox
            th AdScreen
            th Camera
            th Operation
        tbody
          each item in poles
            tr(class='item-id-' + item._id, style="word-break:break-all")
              td 
                a(href='/pole/' + item._id, target='_self') #{item.site.id}
              td #{item.site.name}
              td [#{item.site.lon},#{item.site.lat}]
              td
                p #{item.nbLed.id} 
                each led in item.nbLed.leds
                  p #{led.id} {#{led.deviceId},#{led.status},#{led.brightness}} #{"DATA: " + led.data}
              td #{item.airBox.id} #{item.airBox.realtime}
              td #{item.adScreen.id} {#{item.adScreen.city},#{item.adScreen.station}}
                each pic in item.adScreen.picLinks
                  img.img-rounded(src="/images/" + pic, width="128px" height="256" alt="广告位")
              td 摄像头
              td(style='width:140px')
                a.btn.btn.btn-info(href='/pole/update/' + item._id, role='button', target='_self') 修改
                button.btn.btn.btn-danger.del(data-id=item._id, type='button') 删除
  script(src='/javascripts/admin.js')
          
